@charset "UTF-8";
body
{
    background-image: url(./images/AdminBackground.png);
    background-size: 100%;
}
.container
{
    position: absolute;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 1000px;
}
.nav
{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 200px;
}
.nav:hover
{
    transform: translateY(-10px);
    border-bottom: 10px solid grey;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.nav-menu-active
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}
#nav-menu-first
{
    top: 0px;
    transition: all 0.5s;
}
#nav-menu-second
{
    top: 200px;
    transition: all 0.5s;
}
#nav-menu-third
{
    top: 400px;
    transition: all 0.5s;
}
#nav-menu-forth
{
	top: 600px;
	transition: all 0.5s;
}
.nav-menu-number
{
    position: absolute;
    top: 25px;
    left: 50px;
    font-size: 100px;
    font-weight: bold;
    color: grey;
    transition: all 1.0s;
}
.nav:hover .nav-menu-number
{
    color: black;
}
.nav-menu-context
{
    position: absolute;
    top: 50px;
    left: 150px;
    font-size: 25px;
    font-weight: bold;
    color: grey;
}
.nav-menu-name
{
    position: absolute;
    top: 80px;
    left: 150px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.nav-icon-box
{
    position: absolute;
    top: 25px;
    left: 45%;
    width: 400px;
    height: 150px;
}
.nav-icon-image
{
    border-radius: 5px;
    float: left;
    margin-left: 30px;
    width: 150px;
    height: 150px;
}
#nav-first-icon-image-one
{
    background-image: url(./images/training.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center 30%;
    background-color: rgb(40, 117, 221);
}
#nav-first-icon-image-two
{
    background-image: url(./images/relation.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center 30%;
    background-color: #ff7600;
}
#nav-second-icon-image-one
{
    background-image: url(./images/dept.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center 30%;
    background-color: #9300ff;
}
#nav-second-icon-image-two
{
    background-image: url(./images/member.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center 30%;
    background-color: #0dfc69;
}
#nav-third-icon-image-one
{
    background-image: url(./images/adminStudent.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center 30%;
    background-color: #00b215;
}
#nav-third-icon-image-two
{
    background-image: url(./images/feature.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center 30%;
    background-color: #ff4ddd;
}
.nav-icon-text
{
    position: absolute;
    bottom: 15px;
    color: white;
    font-weight: bold;
}
#nav-first-icon-text-one
{
    margin-left: 35px;
}
#nav-first-icon-text-two
{
    margin-left: 36px;
}
#nav-second-icon-text-one
{
    margin-left: 20px;
}
#nav-second-icon-text-two
{
    margin-left: 41px;
}
#nav-third-icon-text-one
{
    margin-left: 37px;
}
#nav-third-icon-text-two
{
    margin-left: 40px;
}
.nav-home
{
    background-color: white;
    position: absolute;
    top: 600px;
    width: 800px;
    height: 60px;
}
.nav-home-active
{
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1.5s;
}
.nav-home-active:hover
{
    background-color: lightgrey;
}
.nav-home-text
{
	position: absolute;
	top: 15px;
    right: 0px;
    font-size: 30px;
    font-weight: bold;
    color: grey;
    transition: all 1.5s;
}
.nav-home-active:hover .nav-home-text
{
	right: 600px;
}
.nav-home-icon
{
    width: 30px;
    height: 23px;
}
.nav-home-active:hover .nav-home-text
{
    color: black;
}